<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Mini CRM Demo</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link " href="/" Match="NavLinkMatch.All">
                <i class="bi-people align-middle me-3"></i>
                <span class="align-middle">Customers</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link " href="/customers/add" Match="NavLinkMatch.All">
                <i class="bi-person-plus align-middle me-3"></i>
                <span class="align-middle">Add Customer</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/services/add">
                <i class="bi-tools align-middle me-3"></i>
                <span class="align-middle">Add Service</span>
            </NavLink>

        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
