@page "/services/add"
@inject ServiceTypeService ServiceTypeService
@inject NavigationManager NavigationManager

@using Microsoft.AspNetCore.Components.Forms

<h3>Add Service Type</h3>

<EditForm Model="newService" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div style="max-width: 400px;" class="mb-3 border p-3 mb-3 rounded bg-primary shadow-sm bg-opacity-25">
        <label>Service Name</label>
        <InputText class="form-control" @bind-Value="newService.Name" />
    </div>

    <button type="submit" class="btn btn-success">Save</button>
    <a href="" class="btn btn-secondary ms-2">Cancel</a>
</EditForm>

<ServiceTypeList @ref="listRef" />

@code {
    private ServiceType newService = new()
    {
        Name = ""
    };
    private ServiceTypeList? listRef;

    private void HandleValidSubmit()
    {
        if (!string.IsNullOrWhiteSpace(newService.Name))
        {
            ServiceTypeService.Add(newService);
            newService = new(); // reset form
            listRef?.Refresh(); // refresh the child list
        }
    }
}
