@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Increase</button>

<button class="btn @(currentCount == 0 ? "btn-secondary" : "btn-primary") ms-1" @onclick="DecreaseCount"
    disabled="@(currentCount == 0)">
    Decrease
</button>

@if (currentCount > 0) {
    <h2>This is working ok</h2>
}

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    private void DecreaseCount()
    {
        if (currentCount > 0)
        {
            currentCount--;
        }
    }
}
