@page "/"
@inject CustomerService CustomerService

<h3>Customers</h3>

<a href="customers/add" class="btn btn-primary">Add Customer</a>

@if (CustomerService.GetAll().Count == 0)
{
    <p>No customers yet.</p>
}
else
{
    <ul class="list-group mt-3">
        @foreach (var customer in CustomerService.GetAll().OrderByDescending(c => c.Id))
        {
            <li class="list-group-item mb-3 p-3 border rounded bg-primary shadow-sm bg-opacity-25">
                <CustomerCard Customer="customer" 
                    OnAddJob="HandleAddJob" 
                    OnDeleteJob="HandleDeleteJob"
                    OnDeleteCustomer="DeleteCustomer" />
            </li>
        }
    </ul>
}

@code {
    private void HandleAddJob((int customerId, Job job) data)
    {
        var customer = CustomerService.GetById(data.customerId);
        customer?.Jobs.Add(data.job);
    }

    private void HandleDeleteJob((int customerId, Job job) data)
    {
        var customer = CustomerService.GetById(data.customerId);
        customer?.Jobs.Remove(data.job);
    }

    private void DeleteCustomer(int id)
    {
        CustomerService.Delete(id);
    }
}
