@using Microsoft.AspNetCore.Components.Forms

<h5>Add Job: </h5>
<EditForm EditContext="_editContext">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="border p-3 mb-3 rounded bg-primary shadow-sm bg-opacity-25">
        <div class="mb-2">
            <label>Date Completed</label>
            <InputDate class="form-control" @bind-Value="Job.DateCompleted" />
        </div>
        <div class="mb-2">
            <label>Service Type</label>
            <InputSelect class="form-control" @bind-Value="Job.ServiceType">
                <option value="">-- Select a service --</option>
                @foreach (var service in ServiceTypes)
                {
                    <option @key=service value="@service.Name">@service.Name</option>
                }
            </InputSelect>
        </div>
        <div class="mb-2">
            <label>Note</label>
            <InputTextArea class="form-control" @bind-Value="Job.Note" />
        </div>
    </div>
</EditForm>

@code {
    private EditContext? _editContext;

    [Parameter] public Job Job { get; set; } = new();
    [Parameter] public List<ServiceType> ServiceTypes { get; set; } = new();

    protected override void OnInitialized()
    {
        _editContext = new EditContext(Job);
    }

    public async Task<bool> ValidateAndReturnJobAsync()
    {
        if (_editContext is null)
            return false;

        var isValid = _editContext.Validate();

        return await Task.FromResult(isValid);
    }
}
